.mainHeader{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
    text-align: center;
    padding: 4rem var(--spacing);
    background-color: var(--colour-black);
    color: var(--colour-white);
    border-top: 5px solid var(--colour-highlight);
    border-bottom: 2px solid var(--colour-highlight);
    background: url('../../assets/img/header-small.jpg') center / cover;
    text-transform: uppercase;
    letter-spacing: 0.2rem;


    @media screen and (min-width: 800px) {
        background: url('../../assets/img/header.jpg') center / cover;

        
    }
}



.subTitle{
    display: block;
    margin:auto;
    font-size: var(--font-size-3);
}