.genres{
    max-width: 90%;
}

.genre{
    display: inline-block;
    margin: 0 1rem 0.5rem 0;

    input{
        margin-right: 0.5rem;
    }

    label{
        letter-spacing: 0.1rem;
        font-size: var(--font-size-1);
    }
}