.movie{
    text-align: center;
    padding: 0 0 2rem;
}

.title{
    font-size: var(--font-size-2);
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;

    &:after{
        content: ' ';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 40px;
        background-color: var(--colour-highlight);
    }
}

.genres{
    ul{
        margin:0;
        padding:0;
    }
    li{
        list-style: none;
        display: inline-block;
        padding: 0 0.5rem;
        margin: 0 0.5rem;
        font-size: var(--font-size-1);
        position: relative;

        &:after{
            content: ' ';
            position: absolute;
            right: -0.5rem;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: var(--colour-highlight);
        }

        &:last-child{
            &:after{
                display: none;
            }
        }
    }
}