.title{
    font-size: var(--font-size-2);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: inline-block;

    &:after{
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        content: ' ';
        background: var(--colour-highlight);
    }
}

.searchFilter{
    padding: 3rem var(--spacing);
}