@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --font-size-1: 0.75rem;
    --font-size-2: 1.125rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.875rem;
    --font-size-5: 2.25rem;
    --font-size-6: 2.625rem;

    --colour-black: #000000;
    --colour-white: #ffffff;
    --colour-highlight: #00f9ff;
    --colour-grey: #333333;

    --font-body: 'Raleway', sans-serif;

    --spacing: 1.5rem;

    @media screen and (min-width: 800px) {
       
        --font-size-1: 1rem;
        --font-size-2: 1.5rem;
        --font-size-3: 2rem;
        --font-size-4: 2.5rem;
        --font-size-5: 3rem;
        --font-size-6: 3.5rem;

        --spacing: 2rem;
        
    }
}

  

body{
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-size-1);
    background-color: var(--colour-black);
    color: var(--colour-white);
}

.container{
    padding: var(--spacing);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
}

h1{
    font-size: var(--font-size-5);
}
h2{
    font-size: var(--font-size-4);
}
h3{
    font-size: var(--font-size-3);
}
h4{
    font-size: var(--font-size-1);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: inline-block;

    &:after{
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        content: ' ';
        background: var(--colour-highlight);
    }
}

.loading{
    font-size: var(--font-size-1);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}


//Search Filter
.ratingItem{
    display:inline;
    background: none;
    border: 1px solid var(--colour-white);
    padding: 0.25rem;
    margin: 0.5rem 0.5rem 0 0;
    height: 2rem;
    width: 2rem;
    color: var(--colour-white);

    &--active{
        color: var(--colour-highlight);
        border-color: var(--colour-highlight);
    }
}